<%= turbo_frame_tag "table_content" do %>
  <div class="table-container">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="table-secondary">
          <tr>
            <% Customer.table_config[:columns].each do |field, column_config| %>
              <th class="<%= column_alignment_class(column_config[:format]) %>">
                <% if column_config[:sortable] %>
                  <%= table_sort_link(field,
                      t("attributes.customer.#{field}"),
                      params.permit!) %>
                <% else %>
                  <%= t("attributes.customer.#{field}") %>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>

        <tbody data-controller="clickable-rows">
          <% @customers.records.each do |record| %>
            <tr data-clickable-rows-target="row"
                data-customer-id="<%= record.id %>"
                data-action="click->clickable-rows#rowClicked"
                style="cursor: pointer;">
              <% Customer.table_config[:columns].each do |field, column_config| %>
                <td class="<%= column_alignment_class(column_config[:format]) %>">
                  <%= format_table_value(
                      record.public_send(field),
                      column_config[:format],
                      column_config
                  ) %>
                </td>
              <% end %>
            </tr>
          <% end %>

          <% if @customers.empty? %>
            <tr>
              <td colspan="<%= Customer.table_config[:columns].size %>" class="text-center text-muted py-4">
                <em><%= t('common.no_records') %></em>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
      <div class="text-muted small">
        <%= pagination_info(@customers) %>
      </div>
      <nav aria-label="Table pagination">
        <%= paginate_collection(@customers, params.permit!) %>
      </nav>
    </div>
  </div>
<% end %>