<!DOCTYPE html>
<html>
  <head>
    <title>Component Preview - <%= content_for(:title) || "Orders" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/@primer/css@^21.0.0/dist/primer.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="p-3">
    <%= yield %>
  </body>
</html>